@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--bg-black-main: #030303;
--bg-black-second: #111810;
--bg-black-third: #3d3d3c;
--text-white-snow: #f5fefd;
--text-white-frost: #fcfbfc;
--text-white-porcelain: #fffefc; 
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

.home-section {
    background-color: var(--bg-black-main);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

ul {
    list-style: none;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 30px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
}


.section-title h2 {
    font-size: 2.2rem;
    color: var(--text-white-snow);
    font-weight: 700;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color-va);
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 16px;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color-va);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    margin-left: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 35px;
    border-color: var(--text-white-frost);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: var(--text-white-porcelain);
    background-color: transparent;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btntwo {
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 35px;
    border-color: var(--skin-color-va);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    color: var(--text-white-porcelain);
    background-color: var(--skin-color-va);
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnthree {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 12px 35px;
    border-color: var(--skin-color-va);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    color: var(--text-white-porcelain);
    background-color: var(--skin-color-va);
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: var(--gold-hover-va);
    background-color: var(--skin-color-va);
}


.btntwo:hover {
    transform: scale(1.03);
    box-shadow: var(--gold-hover-va);
    background-color: var(--skin-color-va);
}

.btnthree:hover {
    transform: scale(1.03);
    box-shadow: var(--gold-hover-va);
    background-color: var(--skin-color-va);
}

.shadow-light {
    box-shadow: 0 0 20px rgba(82, 81, 81, 0.15);
}

/* aside */
.aside-content {
    width: 270px;
    background-image: url('../images/bgsidee.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    border-right: 1px solid #3d3d3c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(70%) contrast(110%);
    z-index: 10;
}


.aside-content .logo {
    position: absolute;
    top: 50px;
    font-size: 2rem;
    text-transform: capitalize;
}

.aside-content .logo a {
    color: var(--text-white-porcelain);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 2rem;
    letter-spacing: 5px;
    position: relative;
    text-transform: lowercase;
}

.aside-content .logo a span {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: var(--gold-hover-va);
}

.aside-content .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-second);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-main);
    display: none;
    justify-content: center;
    align-items: center;
}

.aside-content .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color-va);
    display: inline-block;
    position: relative;
}

.aside-content .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color-va);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside-content .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color-va);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside-content nav {
    margin-top: 50px;
}

.aside-content .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside-content .nav li a {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 15px;
    color: var(--text-white-frost);
    border-bottom: 1px solid var(--bg-black-third);
}

.aside-content .nav li a.active {
    color: var(--skin-color-va);
}

.aside-content .nav li a i {
    margin-right: 15px;
}

/* Home */
.home-section {
    min-height: 100vh;
    display: flex;
    color: var(--text-white-snow);
}

.home-section .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home-section .home-img {
    flex: 0 0 35%;
    max-width: 35%;
    margin-left: 5%;
    position: relative;
}

.home-section .home-img::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    left: -30px;
    top: -40px;
    border-top: 5px solid var(--skin-color-va);
    border-left: 5px solid var(--skin-color-va);
}

.home-section .home-img::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 50px;
    border-bottom: 5px solid var(--skin-color-va);
    border-right: 5px solid var(--skin-color-va);
}

.home-section .home-img img {
    height: 200px;
    border-radius: 10px;
    margin: auto;
}

h3.hi {
    font-size: 1.8rem;
    margin: 15px 0;
}

h3.profession {
    font-size: 2rem;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color-va);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 1.4rem;
    color: var(--text-white-snow);
}

/* about content */

.about.section {
    background: var(--bg-black-main);
}

.row .about-content {
    margin-top: 50px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    font-weight: 700;
    color: var(--text-white-frost);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color-va);
}

.about .about-content .about-text p {
    font-size: 1rem;
    line-height: 25px;
    color: var(--text-white-frost);
    max-width: 90%;
    word-wrap: break-word;
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 400;
    padding: 16px 0;
    font-size: 1rem;
    color: var(--text-white-frost);
    border-bottom: 1px solid var(--text-white-porcelain);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 200;
    color: var(--text-white-frost);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 40px;
}

.about .about-content .personal-info .buttons .btntwo {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .education {
    flex: 0 0 45%;
    margin-top: 30px;
    max-width: 45%;
}

.about .about-content .experience {
    flex: 0 0 45%;
    margin-top: 30px;
    max-width: 45%;
}

.about .about-content h3.title {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-white-frost)
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-main);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-third);
    border-radius: 5px;
    width: 100%;
    position: relative;
    color: var(--text-white-porcelain)
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 30px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color-va);
}

.about .about-content .timeline .timeline-date .fa {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-white-porcelain)
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--skin-color-va);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 1rem;
    text-align: justify;
    color: var(--text-white-frost);
    margin-right: 3px;
}

/* skills section */
.skills.section {
    background: var(--bg-black-main);
}
/*
.skills .service-item {
    flex: 0 0 31%;
    max-width: 31%;
} */

.skills .service-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 20px;
}

.skills .service-item .service-item-inner {
    background-color: var(--bg-black-main);
    border: 1px solid var(--bg-black-third);
    border-radius: 10px;
    padding: 30px 15px;
    margin-top: 40px;
    text-align: center;
    transition: all 0.3s ease;
}

.skills .service-item .service-item-inner:hover {
    box-shadow: 0 0 30px rgba(179, 179, 179, 0.15);
    transform: scale(1.01);
}

.skills .service-item .service-item-inner h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--text-white-snow);
    font-weight: 500;
    text-transform: capitalize;
}

.skills .service-item .service-item-inner h4 .rena {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--text-white-snow)
}

/* portfolio Section */

.portfolio.section {
    background: var(--bg-black-main);
}

.portfolio .container {
    padding-bottom: 20px;
}

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .portfolio-heading h2 {
    margin-top: 70px;
    color: var(--text-white-snow);
    font-weight: 400;
    text-align: center;
    font-family: 'DM Serif Display', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--skin-color-va);
}

.portfolio .portfolio-item {
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border: 1px solid var(--bg-black-third);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 15px;
}

.portfolio .portfolio-item-inner .portfolio-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 240px; 
    border-radius: 10px;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transition: all 0.3 ease;
}

.portfolio .portfolio-item-inner .portfolio-img img:hover {
    transform: scale(1.02);
}

/* contac section */

.contact.section {
    background-image: url(../images/animebg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20%);
}

.contact-title {
    color: var(--skin-color-va);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 70px;
    font-family: 'DM Serif Display', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.contact-sub-title {
    color: var(--text-white-porcelain);
    text-align: center;
    font-size: 1rem;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    color: var(--skin-color-va);
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color-va);
}

.contact .contact-info-item h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-white-frost);
    text-transform: capitalize;
    margin: 15px 0 5px;
    text-shadow: var(--gold-hover-va);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.contact .contact-info-item p {
    font-size: 1rem;
    line-height: 15px;
    color: var(--text-white-frost);
    text-shadow: var(--gold-hover-va);
    font-weight: 400;
    opacity: 0.9;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}


.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 48%;
    max-width: 48%;
}

.contact .contact-form .col-12 {
    flex: 0 0 96%;
    max-width: 96%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--text-white-snow);
    border: 1px solid rgba(202, 202, 202, 0.5);
    padding: 10px 25px;
    color: var(--bg-black-main);
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 10px var(--skin-color-va);
}

.contact .contact-form .form-item textarea.form-control {
    height: 120px;    
}

.rowbu {
    display: flex;
    justify-content: center;
}

.rowhidden {
    visibility: hidden;
}


@media (max-width:1100px){

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .aside-content {
        left: -270px;
        transition: 0.5s ease;
    }

    .aside-content.open {
        left: 0;
    }

    .nav-toggler {
        display: flex !important;
        position: fixed;
        left: 5px;
        top: 80px;
        height: 10px;
        width: 10px;
        background: var(--bg-black-main);
        border: 1px solid var(--bg-black-third);
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        z-index: 150;
        cursor: pointer;
    }

    .nav-toggler span,
    .nav-toggler span::before,
    .nav-toggler span::after {
        background: var(--skin-color-va);
        width: 20px;
        height: 2px;
        position: absolute;
        transition: 2s ease;
        content: "";
    }

    .nav-toggler span::before { 
        top: -6px; 
    }

    .nav-toggler span::after { 
        top: 6px; 
    }

    .main-content {
        padding-left: 0 !important;
    }

    .home-section .home-img::before {
        height: 50px;
        width: 50px;
        left: -30px;
        top: -40px;
        border-top: 5px solid var(--skin-color-va);
        border-left: 5px solid var(--skin-color-va);
    }

    .home-section .home-img::after {
        height: 50px;
        width: 50px;
        right: 30px;
        bottom: -30px;
        border-bottom: 5px solid var(--skin-color-va);
        border-right: 5px solid var(--skin-color-va);
    }

    h3.hi {
        font-size: 1.5rem;
    }

    h3.profession {
        font-size: 1.7rem;
    }

    .home-info p {
        font-size: 1.1rem;
    }

    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .skills .service-item {
        flex: 0 0 47%;
        max-width: 47%;
    }

    .contact .contact-info-item{
        margin-bottom: 28px;
    }

    .home-section .home-info {
        flex: 0 0 50%;
        max-width: 50%;
        margin-right: 5%;
    }

    .home-section .home-img {
        flex: 0 0 40%;
        max-width: 40%;
        margin-top: 5%;
    }

    .home-section .home-img img {
        width: 85%;
        height: auto;
    }

    .contact-sub-title {
        font-size: 1rem;
        padding-right: 3%;
    }

    .contact-title {
        font-size: 0.8rem;
    }

    .contact-sub-title {
        font-size: 0.6rem;
    }

}

@media (max-width: 800px){

    .home-section .home-info {
        flex: 0 0 45%;
        max-width: 45%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .home-section .home-img {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .home-section .home-img img {
        width: 85%;
        height: auto;
    }

    .home-section .home-img::before {
        height: 50px;
        width: 50px;
        left: -30px;
        top: -40px;
        border-top: 5px solid var(--skin-color-va);
        border-left: 5px solid var(--skin-color-va);
    }

    .home-section .home-img::after {
        height: 50px;
        width: 50px;
        right: 20px;
        bottom: 70px;
        border-bottom: 5px solid var(--skin-color-va);
        border-right: 5px solid var(--skin-color-va);
    }

    .contact-title {
        font-size: 1.2rem;
    }

    .contact-sub-title {
        font-size: 1rem;
        padding-right: 5%;
    }

    .about .about-content .timeline .timeline-text {
        text-align: start;
    }

    .about .about-content .about-text h3 {
        font-size: 1.4rem;
    }

    .about .about-content .about-text p {
        font-size: 1rem;
    }
}

@media (max-width: 650px){
    .home-section .home-info {
        flex: 0 0 40%;
        max-width: 40%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .home-section .home-img {
        flex: 0 0 35%;
        max-width: 35%;
        margin-top: 10%;
    }

    .home-info .hi {
        font-size: 1.2rem;
    }

    .home-info p {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .home-section .home-img img {
        width: 100%;
        height: auto;
    }

    .home-section .home-img::before {
        height: 50px;
        width: 50px;
        left: -30px;
        top: -40px;
        border-top: 5px solid var(--skin-color-va);
        border-left: 5px solid var(--skin-color-va);
    }

    .home-section .home-img::after {
        height: 50px;
        width: 50px;
        right: -20px;
        bottom: 20px;
        border-bottom: 5px solid var(--skin-color-va);
        border-right: 5px solid var(--skin-color-va);
    }
    
    h3.hi {
        font-size: 1rem !important;
    }

    h3.profession {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .home-info p {
       font-size: 0.9rem;
    }

    .about .about-content .about-text h3 {
        font-size: 1.4rem;
    }

    .about .about-content .about-text p {
        font-size: 1rem;
    }

    .contact-sub-title {
        font-size: 0.9rem;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (max-width: 600px) {
    .home-section .home-info {
        flex: 0 0 40%;
        max-width: 40%;
        margin-right: 8%;
        margin-left: 5%;
    }

    .home-section .home-img {
        flex: 0 0 38%;
        max-width: 38%;
        margin-top: 10%;
    }

    .home-section .home-img img {
        width: 85%;
        height: auto;
    }

    .home-section .home-img::before {
        height: 50px;
        width: 50px;
        left: -20px;
        top: -40px;}

    .home-section .home-img::after {
        height: 50px;
        width: 50px;
        right: 10px;
        bottom: 50px;
    }

    .home-info .hi {
        font-size: 1rem;
    }

    .h3.profession {
        font-size: 1rem;
    }

    .home-info p {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }

    .about .about-content .personal-info .buttons .btntwo {
        margin-right: 5px;
    }

    .about .about-content .about-text h3 {
        font-size: 1.4rem;
    }

    .about .about-content .about-text p {
        font-size: 1rem;
    }
}


@media (max-width: 430px) {

    .home-section .home-info {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .home-section .home-img {
        flex: 0 0 37%;
        max-width: 37%;
    }

    .home-section .home-img img {
        width: 90%;
        height: auto;
    }

    .home-section .home-img::before {
        height: 30px;
        width: 30px;
        left: -6PX;
        top: -28px;
        border-top: 3px solid var(--skin-color-va);
        border-left: 3px solid var(--skin-color-va);
    }

    .home-section .home-img::after {
        height: 30px;
        width: 30px;
        right: 6px;
        bottom: 80px;
        border-bottom: 3px solid var(--skin-color-va);
        border-right: 3px solid var(--skin-color-va);
    }

    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .skills .service-item {
        flex: 0 0 47%;
        max-width: 47%;
    }

    .contact .contact-info-item{
        margin-bottom: 28px;
    }

    .contact-title {
        font-size: 0.9rem;
    }

    .contact-sub-title {
        font-size: 0.7rem;
    }
    

    h3.hi {
        font-size: 0.8rem !important;
    }

    h3.profession {
        font-size: 0.8rem !important;
        font-weight: 700;
    }

    .home-info p {
        font-size: 0.7rem;
    }

    .home-info .btn.hire-me {
        padding: 5px 10px !important;
        font-size: 0.7rem;
        justify-content: center;
        text-align: center;
    }

    .about .about-content .about-text h3 {
        font-size: 1rem;
    }

    .about .about-content .about-text p {
        font-size: 0.8rem;
        max-width: 90%;
        word-wrap: break-word;
    }

    .about .about-content .personal-info {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .about .about-content .personal-info .info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about .about-content .personal-info .info-item p {
        font-size: 0.8rem;
    }

    .btntwo {
        padding: 6px 20px;
    }

    .about .about-content .timeline .timeline-date .datee {
        font-size: rem;
        display: inline-block;
    }   

    .about .about-content .timeline .timeline-title {
        font-size: 0.8rem;
    }
    
    .about .about-content .timeline .timeline-text {
        font-size: 0.7rem;
        white-space: normal;
    }
    
    .skills .service-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
        gap: 15px;
    }

    .portfolio .portfolio-item-inner .portfolio-img {
        max-height: 70%;
        height: 70%;
    }

    .portfolio .portfolio-item-inner .portfolio-img img {
        height: 70%;
    }

    .contact .contact-info-item h4 {
        font-size: 0.9rem;
    }

    .contact .contact-info-item p {
        font-size: 0.8rem;
    }

    .skills .service-item .service-item-inner {
        padding: 25px 10px;
    }

    .skills .service-item .service-item-inner h4 {
        font-size: 0.8rem;
    }

    .contact .contact-form .form-item .form-control {
        height: 40%;
    }

    .contact .contact-form .form-item textarea.form-control {
        height: 80px;
    }
}

@media (max-width: 414px) {
    h3.profession {
        font-size: 0.7rem !important;
        font-weight: 700;
    }

    .home-section .home-img::before {
        top: -20px;
        left: -10;
    }

    .home-section .home-img::after {
        right: 10;
        bottom: 90px;
    }

    .about .about-content .about-text h3 {
        font-size: 1rem;
        max-width: 90%;
    }

    .contact-title {
        font-size: 0.9rem;
    }

    .contact-sub-title {
        font-size: 0.7rem;
    }

    .skills .service-item .service-item-inner {
        padding: 20px 8px;
    }

    .skills .service-item .service-item-inner h4 {
        font-size: 0.9rem;
    }
}


@media (max-width: 360px) {
    .home-section .home-info {
        margin-right: 2%;
    }


    .home-section .home-img img {
        width: 90%;
        height: auto;
    }

    h3.hi {
        font-size: 0.6rem !important;
    }

    h3.profession {
        font-size: 0.6rem !important;
        font-weight: 700;
    }

    .home-info p {
        font-size: 0.5rem;
        letter-spacing: 0.2px;
    }

    .home-section .home-img::after {
        right: 10;
        bottom: 80px;
    }
    
    .about .about-content .personal-info .info-item p {
        font-size: 0.7rem;
    }
    
    .about .about-content .timeline .timeline-date {
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 0%;
    }

    .about .about-content .timeline .timeline-title {
        font-size: 0.6rem !important;
        margin-top: 20%;
        font-weight: 800;
    }

    .about .about-content .timeline .timeline-text {
        font-size: 0.5rem;
        text-align: start;
        line-height: 15px;
    }

    .contact-title {
        font-size: 0.8rem;
    }

    .contact-sub-title {
        font-size: 0.6rem;
    }

    .contact .contact-info-item h4 {
        font-size: 0.8rem;
    }

    .contact .contact-info-item p {
        font-size: 0.7rem;
    }

    .skills .service-item .service-item-inner {
        padding: 20px 8px;
    }

    .skills .service-item .service-item-inner h4 {
        font-size: 0.8rem;
    }
}
